<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
    <h1>Add Category</h1>

    <nav th:replace="fragments :: navigation"/>

    <form th:object="${category}" method="post">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input type="text" th:field="*{name}" />
            <span th:errors="*{name}" class="errors" />
        </div>
        <div class="form-group">
            <input type="submit" text="Add Category"/>
        </div>
    </form>
</body>
</html>