<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"/>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"/>

<form action="/menu/add-item" th:object="${form}" method="post">
    <div class="form-group">
        <label th:for="cheeseId">Cheese</label>
        <select name="cheeseId">
            <option th:each="cheese : *{cheeses}" th:text="${cheese.name}" th:value="${cheese.id}" />
        </select>
    </div>
    <div class='form-group"'>
        <input type="hidden" name="menuId" th:value="*{menu.id}" />

        <input type="submit" value="Add Cheese"/>
    </div>
</form>

</body>
</html>